@model VisFP.Data.DBModels.RgTask

@{
    ViewData["Title"] = $"Редактирование задачи {Model.TaskNumber}. {Model.TaskTitle}";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-action="EditRgTask">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TaskId" />
        <div class="form-group">
            <label asp-for="AlphabetNonTerminalsCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlphabetNonTerminalsCount" class="form-control" />
                <span asp-validation-for="AlphabetNonTerminalsCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlphabetTerminalsCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlphabetTerminalsCount" class="form-control" />
                <span asp-validation-for="AlphabetTerminalsCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChainMinLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChainMinLength" class="form-control" />
                <span asp-validation-for="ChainMinLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxAttempts" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxAttempts" class="form-control" />
                <span asp-validation-for="MaxAttempts" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NonTerminalRuleCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NonTerminalRuleCount" class="form-control" />
                <span asp-validation-for="NonTerminalRuleCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TerminalRuleCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TerminalRuleCount" class="form-control" />
                <span asp-validation-for="TerminalRuleCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SuccessScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SuccessScore" class="form-control" />
                <span asp-validation-for="SuccessScore" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FailTryScore" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FailTryScore" class="form-control" />
                <span asp-validation-for="FailTryScore" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
