@model MainPageViewModel
@{
    ViewData["Title"] = "Главная страница";
}

<ul>
    @if (Model.IsAdmin)
    {
        <li><a href="/Admin">Административная зона</a></li>
    }
    <li><a href="/RegGram">Регулярные граматики</a></li>
</ul>