@model IndexViewModel
@{
    ViewData["Title"] = "Главная страница";
}
<h1>@ViewData["Title"]</h1>
@if (Model.IsAdmin)
{
    <a class="btn btn-danger" href="/Admin">Административная зона</a>
}
@if (Model.IsTeacher || Model.IsAdmin)
{
    <a class="btn btn-primary" href="/Teacher">Управление группами и задачами</a>
}
<h2>Выберите раздел задач:</h2>
<div class="list-group col-lg-5">
    @{ int i = 1; }
    @foreach (var tt in Model.TaskTypes)
    {
        <a href="/@tt.TaskTypeControllerName" class="list-group-item">@i. @tt.TaskTypeName <span class="badge">@tt.TasksCount</span></a>
        i++;
    }
</div>