@model VisFP.Models.RGViewModels.AnswerViewModel
<dl class="dl-horizontal">
    <dt>
        Осталось попыток
    </dt>
    <dd>
        <strong><span id="attemptsCount">@Html.DisplayFor(model => model.MaxAttemptsCount)</span></strong>
    </dd>
</dl>
<form asp-action="Answer">
    <input asp-for="TaskId" id="taskId" autocomplete="off" type="hidden" class="form-control" />
    <div class="form-horizontal">
        @switch (Model.AnswerType)
        {
            case TaskAnswerType.SymbolsAnswer:
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Отметьте необходимые символы</h3>
                        </div>
                        <div class="panel-body" id="answerSymbols">
                            @foreach (var nt in Model.SymbolsCheckBox)
                            {
                                <span class="button-checkbox">
                                    <button type="button" class="btn btn-success active" data-color="success">@nt</button>
                                    <input class="hidden answerCheckboxes" autocomplete="off" type="checkbox" value="@nt">
                                </span>
                            }
                        </div>
                    </div>
                </div>
                break;
            case TaskAnswerType.YesNoAnswer:
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Выберите ответ</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group col-md-offset-3">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="yes">Да</a>
                                    <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="no">Нет</a>
                                </div>
                                <input type="hidden" name="yesNoAnswer" id="yesNoAnswer" value="yes">
                            </div>
                        </div>
                    </div>
                </div>
                break;
            default:
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Answer" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Answer" autocomplete="off" id="answer" class="form-control" />
                        <span asp-validation-for="Answer" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="sendAnswer" autocomplete="off" onclick="checkAnswer();" value="Проверить" class="btn btn-default" />
                    </div>
                </div>
                break;
        }
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div id="answerCorrectness"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="sendAnswer" autocomplete="off" onclick="sendUserAnswer();" value="Проверить ответ" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
