@model IEnumerable<Tuple<int,string>>
@{
    ViewData["Title"] = "Регулярные грамматики";
}
<h1>@ViewData["Title"]</h1>
<h2>Примеры задач</h2>
<ul>
    @foreach(var t in Model)
    {
        <li><a href="/RegGram/Task/@t.Item1">Задача <span>@t.Item1</span>: @t.Item2</a></li>
    }
</ul>

<a href="" class="btn btn-warning btn-lg">Сдать контрольный тест</a>
