@model IEnumerable<Tuple<int,string>>
@{
    ViewData["Title"] = "Список задач";
}
<h1>@ViewData["Title"]</h1>
<ul>
    @foreach(var t in Model)
    {
        <li><a href="/RegGram/Task/@t.Item1">@t.Item2</a></li>
    }
</ul>
