@model IEnumerable<int>
@{
    ViewData["Title"] = "Список задач";
}
<h1>@ViewData["Title"]</h1>
<ul>
    @foreach(var t in Model)
    {
        <li><a href="/RegGram/Task/@t">Задача @t</a></li>
    }
</ul>
