@model VisFP.Models.TaskProblemSharedViewModels.AnswerViewModel
<dl class="dl-horizontal">
    <dt>
        Осталось попыток:
    </dt>
    <dd>
        <strong><span id="attemptsCount" >@Html.DisplayFor(model => model.MaxAttemptsCount)</span></strong>
    </dd>
</dl>
<input asp-for="TaskProblemId" id="taskProblemId" autocomplete="off" type="hidden" class="form-control" />
<div class="form-horizontal">
    @switch (Model.AnswerType)
    {
        case TaskAnswerType.SymbolsAnswer:
            <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Отметьте необходимые символы</h3>
                    </div>
                    <div class="panel-body" id="answerSymbols">
                        @foreach (var nt in Model.SymbolsCheckBox)
                        {
                            <span class="button-checkbox">
                                <button type="button" class="btn btn-success active" data-color="success">@nt</button>
                                <input class="hidden answerCheckboxes" autocomplete="off" type="checkbox" value="@nt">
                            </span>
                        }
                    </div>
                </div>
            </div>
            break;
        case TaskAnswerType.YesNoAnswer:
            <div class="col-md-offset-2 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Выберите ответ</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group col-md-offset-3">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="yes">Да</a>
                                <a class="btn btn-success btn-lg notActive" data-toggle="yesNoAnswer" data-title="no">Нет</a>
                            </div>
                            <input type="hidden" name="yesNoAnswer" id="yesNoAnswer" value="">
                        </div>
                    </div>
                </div>
            </div>
            break;
        default:
            <div class="col-md-offset-2 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center">Введите ответ</h3>
                    </div>
                    <div class="panel-body">
                        <input id="answer" autocomplete="off" class="form-control" />
                    </div>
                </div>
            </div>
            break;
    }
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            @{ var buttonText = Model.IsControl ? "Отправить ответ" : "Проверить ответ";}
            <input type="button" id="sendAnswer" autocomplete="off" onclick="sendUserAnswer();" value="@buttonText" class="btn btn-lg btn-success" />
        </div>
    </div>
    <div class="col-md-offset-2 col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="answerCorrectness"></div>
            </div>
        </div>
    </div>
</div>
@if (Model.MaxAttemptsCount == 0)
{
    <script>disableAnswerButton();</script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
