@model VisFP.Models.RGViewModels.RgProblemViewModel
<hr />
<h3 style="margin-left:100px">@Model.TaskTitle</h3>
<hr />
<div class="col-lg-5">
    <div class="panel">
        <dl class="dl-horizontal">
            <dt style="font-size:large">
                @Html.DisplayNameFor(model => model.TaskText)
            </dt>
            <dd style="font-size:large">
                @Html.Raw(Model.TaskText)
            </dd>
        </dl>
    </div>
    @{ await Html.RenderPartialAsync("TaskInfo", Model); }
    @{ await Html.RenderPartialAsync("TaskShared/AcceptAnswerView",
                                                    new AnswerViewModel
                                                    {
                                                        TaskProblemId = Model.Id,
                                                        MaxAttemptsCount = Model.MaxAttempts,
                                                        SymbolsCheckBox = Model.Grammar.Alph.NonTerminals,
                                                        AnswerType = Model.AnswerType,
                                                        IsControl = Model.IsControlProblem
                                                    }); }
</div>
<div class="col-lg-7">
    @{await Html.RenderPartialAsync("TaskShared/GraphView", Model);}
</div>
