@model TaskInfoTopComponent
<dl class="dl-horizontal">
    <dt>
        <span>@Model.Header</span>
    </dt>
    @foreach (var f in Model.Fields)
    {
        <dd>
            @f.Key: <b>@f.Value</b>
        </dd>
    }
</dl>
