@model TaskInfoViewModel
<hr />
<h3 style="margin-left:100px">@Model.MainInfo.TaskTitle</h3>
<hr />
<div class="col-lg-5">
    <div class="panel">
        <dl class="dl-horizontal">
            <dt style="font-size:large">
                @Html.DisplayNameFor(model => model.MainInfo.TaskQuestion)
            </dt>
            <dd style="font-size:large">
                @Html.Raw(Model.MainInfo.TaskQuestion)
            </dd>
        </dl>
    </div>
    @if (Model.TopInfo != null)
    {
        await Html.RenderPartialAsync("TaskShared/TaskInfo", Model.TopInfo);
    }
    @{ await Html.RenderPartialAsync("TaskShared/AcceptAnswerView", Model.GetAnswerModel()); }
</div>
@if (Model.ListInfo != null)
{
    <div class="col-lg-2">
        @{ await Html.RenderPartialAsync("TaskShared/TaskInfoList", Model.ListInfo); }
    </div>
}
@if (Model.Graph != null)
{
    <div class="col-lg-5">
        @{await Html.RenderPartialAsync("TaskShared/GraphView", Model.Graph); }
    </div>
}
