@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход";
}

<h2>@ViewData["Title"]</h2>
<hr />


<section>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <h3>Вход с паролем</h3>
                <div class="form-group">
                    <label asp-for="Login" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1" style="height:100px; text-align:center; padding-top:60px">
                ИЛИ
            </div>
            <div class="col-md-6">
                <h3>Групповой вход</h3>
                <div class="form-group">
                    <label asp-for="GroupName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="GroupName" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-lg btn-success">Войти</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</section>


@*<table class="table">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>q1w2e3r4</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>Test</td>
            <td>1234</td>
            <td>User (Студент)</td>
        </tr>
        <tr>
            <td>Teacher</td>
            <td>1234</td>
            <td>Преподаватель</td>
        </tr>
    </tbody>
</table>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
